* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: rgb(114, 109, 123);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

nav ul li {
    list-style: none;
    font-weight: 500;
}

nav ul li a {
    font-size: 1.25rem;
    list-style: none;
    padding: 1rem 2rem;
    border-radius: 0.2rem;

}


nav img {
    width: 12rem;
}

nav a {
    text-decoration: none;
}

nav ul li a:hover {
   padding: 1rem 2rem;
   background-color: rgb(194, 143, 100);
   border-radius: 0.2rem;
   color: rgb(255, 255, 255);
   transition: ease-in-out 250ms;
}


.active a{
    padding: 1rem 2rem;
    background-color: rgb(194, 143, 100);
    border-radius: 0.2rem;
    color: rgb(255, 255, 255);

 }

 .portfolio {
    padding: 4rem;
    margin: 2rem;
 }

 .portfolio h1 {
    font-weight: 600;
 }

 .projects {
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }

.hingeunwrapped_img {
    padding-top: 6rem;
    grid-column: span 3;
}

.hingeunwrapped_img img {
    width: 75rem;
}

.hingeunwrapped_description {
    padding: 6.5rem 2rem 0rem 2rem;
    grid-column: span 1;
}

.hingeunwrapped_description h2 {
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

.hingeunwrapped_description p {
  font-size: 1.25rem;
}

.button_container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5rem ;
}

.button_container1 button {
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    border-radius: 2rem;
    background-color: rgb(246, 222, 218);
    border: 2px solid rgb(185, 148, 182);
    color:rgb(122, 100, 120);
    font-weight: 600;
    transition: ease-in-out 250ms;
}

.button_container1 button:hover {
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    border-radius: 2rem;
    background-color: rgb(185, 148, 182);
    border: 2px solid  rgb(132, 109, 129);
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: ease-in-out 250ms;
}