* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: rgb(114, 109, 123);
}
 
.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.loading_container img {
 animation: fadeInAnimation ease 3s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
 width: 40rem;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#enter_playground {
    visibility: hidden;
  
}

.loading_container p {
font-size: 2rem;
font-weight: 400;
}

.enter_btn {
    display: flex;
    justify-content: center;
}

#enter_button {
    cursor: pointer;
    padding: 1rem 2.25rem;
    font-size: 1.25rem;
    border-radius: 0.2rem;
    margin-top: 4rem;
    background-color: rgb(254, 254, 241);
    border: solid rgb(168, 162, 151) 2px;
}